/*
This is a hack to get around the stub-run support for CI:
 - 21.01.4 implements stub-run, but the variable isn't available for introspection until 21.10.0
 - Lifebit don't want to upgrade >=22.01 as it doesn't support Ignite
 - Only need 21.10 (recommended 21.10.6) to fix this problem
*/
process {

    withName: ascat_counts {
        cpus      = { workflow.stubRun ? 1 : resource_max(params.cpus_counts) }
        memory    = { workflow.stubRun ? 1.GB : resource_max(2.GB * task.cpus) }
    }

    withName: ascat {
        memory    = { workflow.stubRun ? 1.GB : resource_max(8.GB * task.attempt) } // 8GB is max available for 1 CPU host in AWS
    }

    withName: pindel {
        cpus      = { workflow.stubRun ? 1 : resource_max(params.cpus_pindel) }
        memory    =  { workflow.stubRun ? 1.GB : resource_max(6.GB * task.cpus) }
    }

    withName: caveman {
        cpus      = { workflow.stubRun ? 1 : resource_max(params.cpus_caveman) }
        memory    = { workflow.stubRun ? 1.GB : resource_max(6.GB * task.cpus * task.attempt) }
    }

    withName: caveman_flag {
        memory    = { workflow.stubRun ? 1.GB : resource_max(2.GB * task.attempt) }
    }

    withName: brass {
        cpus      = { workflow.stubRun ? 1 : resource_max(params.cpus_brass) }
        memory    = { workflow.stubRun ? 1.GB : resource_max(6.GB * task.cpus) }
    }

    withName: verifybamid {
        cpus      = { workflow.stubRun ? 1 : 2 }
        memory    = { workflow.stubRun ? 1.GB : 6.GB }
    }
}
