docker.enabled = true

params {
    sigfit_results_dir = "s3://lifebit-featured-datasets/pipelines/mutational-signature-nf/example-output/sigfit_results_out_v2/,s3://lifebit-featured-datasets/pipelines/mutational-signature-nf/example-output/sigfit_results_out_v2_copy_3/"
    organ = "Breast"
    cpus = 2
    memory = 4.GB
}
